python-json-logger==2.0.7

# Server
fastapi
uvicorn

# used for testing/formatting
pytest
pytest-env
flake8
black==23.7.0
requests

# used for form parsing
python-multipart
lxml==4.9.3

# Allows us to use FastAPI's FileResponse for serving pdfs.
aiofiles

git+https://github.com/huridocs/pdf-tokens-type-labeler@576a06128ba653562f008fa7177c64a6b43fabe9

