python-json-logger==2.0.7

# Server
fastapi
uvicorn

# used for testing/formatting
pytest
pytest-env
flake8
black==24.2.0
requests

# used for form parsing
python-multipart
lxml==5.1.0

# Allows us to use FastAPI's FileResponse for serving pdfs.
aiofiles

git+https://github.com/huridocs/pdf-tokens-type-labeler@e5a73befe270146e78c8b50da4dd2777bf66ead6

